@tailwind base;
@tailwind components;
@tailwind utilities; 


.custom-swal-popup {
    z-index: 2000 !important;
    position: relative;
  }
  
  .swal2-container {
    z-index: 2000 !important;
  }
  
  .material-dialog-root {
    z-index: 1301 !important;
  } 


  .swal-container {
    z-index: 9999 !important;
  }
  
  .react-datepicker-wrapper {
    width: 100%;
  }
  